.title{
    padding: 0 2rem;
  }
  
  .outer_container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    row-gap: 1rem;
  }
  
  .raw_input_container {
    width: 50vw;
    height: 100%;
  
    padding: 1rem;
  }
  
  .raw_input {
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
  }
  .markdown_output_container {
    width: 50vw;
    height: 100%;
  }
  
  .markdown_output {
    width: 100%;
    height: 100%;
  }